In [1]:
'''
Enrollment : 216270307053
Name : Hathaliya Aryan
    
Write a Pandas program to implement following operation
to find and drop the missing values from the given dataset
to remove the duplicates from the given dataset
'''

import pandas as pd

# World alcohol consumption data
w_a_con = pd.read_csv('/kaggle/input/datacsv/world_alcohol.csv')

print("World alcohol consumption sample data:")
print(w_a_con.head())
print("\nMissing values:")
print(w_a_con.isnull())
print("\nDropping the missing values:")
print(w_a_con.dropna())
print()
print()
print()

print("World alcohol consumption sample data:")
print(w_a_con.head())

print("\nAfter removing the duplicates of WHO region column:")
print(w_a_con.drop_duplicates('WHO region'))

World alcohol consumption sample data:
   Year       WHO region                Country Beverage Types  Display Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
1  1986         Americas                Uruguay          Other           0.50
2  1985           Africa           Cte d'Ivoire           Wine           1.62
3  1986         Americas               Colombia           Beer           4.27
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98

Missing values:
     Year  WHO region  Country  Beverage Types  Display Value
0   False       False    False           False          False
1   False       False    False           False          False
2   False       False    False           False          False
3   False       False    False           False          False
4   False       False    False           False          False
..    ...         ...      ...             ...            ...
95  False       False    False           False          False
96  False       False    False           False          False
97  False       False    False           False          False
98  False       False    False           False          False
99  False       False    False           False          False

[100 rows x 5 columns]

Dropping the missing values:
    Year       WHO region                                Country  \
0   1986  Western Pacific                               Viet Nam
1   1986         Americas                                Uruguay
2   1985           Africa                           Cte d'Ivoire
3   1986         Americas                               Colombia
4   1987         Americas                  Saint Kitts and Nevis
..   ...              ...                                    ...
95  1984           Africa                                  Niger
96  1985           Europe                             Luxembourg
97  1984  South-East Asia                              Indonesia
98  1984           Africa                      Equatorial Guinea
99  1985  South-East Asia  Democratic People's Republic of Korea

   Beverage Types  Display Value
0            Wine           0.00
1           Other           0.50
2            Wine           1.62
3            Beer           4.27
4            Beer           1.98
..            ...            ...
95          Other           0.00
96           Wine           7.38
97           Wine           0.00
98           Wine           0.00
99           Wine           0.00

[95 rows x 5 columns]



World alcohol consumption sample data:
   Year       WHO region                Country Beverage Types  Display Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
1  1986         Americas                Uruguay          Other           0.50
2  1985           Africa           Cte d'Ivoire           Wine           1.62
3  1986         Americas               Colombia           Beer           4.27
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98

After removing the duplicates of WHO region column:
    Year             WHO region       Country Beverage Types  Display Value
0   1986        Western Pacific      Viet Nam           Wine           0.00
1   1986               Americas       Uruguay          Other           0.50
2   1985                 Africa  Cte d'Ivoire           Wine           1.62
13  1984  Eastern Mediterranean   Afghanistan          Other           0.00
18  1984                 Europe        Norway        Spirits           1.62
20  1986        South-East Asia       Myanmar           Wine           0.00